[submodule "docs"]
	path = docs
	url = https://github.com/mistachkin/docs
	branch = trunk
[submodule "extra"]
	path = extra
	url = https://github.com/mistachkin/extra
	branch = trunk
[submodule "eee"]
	path = eee
	url = https://github.com/mistachkin/eee
	branch = trunk
[submodule "pkgt"]
	path = pkgt
	url = https://github.com/mistachkin/pkgt
	branch = trunk
[submodule "watchCat"]
	path = watchCat
	url = https://github.com/mistachkin/watchCat
	branch = trunk
[submodule "lsp"]
	path = lsp
	url = https://github.com/mistachkin/eagle-lsp
	branch = trunk
[submodule "vplugins"]
	path = vplugins
	url = https://github.com/mistachkin/vplugins
	branch = trunk
[submodule "ScintillaNET"]
	path = Externals/ScintillaNET/prj
	url = https://github.com/mistachkin/ScintillaNET
	branch = 3.6-mistachkin-prs
