<?xml version="1.0" encoding="UTF-8" ?>
<!--
 *
 * EagleShell.exe.config -
 *
 * Copyright (c) 2007-2012 by Joe Mistachkin.  All rights reserved.
 *
 * See the file "license.terms" for information on usage and redistribution of
 * this file, and for a DISCLAIMER OF ALL WARRANTIES.
 *
 * RCS: @(#) $Id: $
 *
-->
<configuration>
  <appSettings>
    <!--
    <add key="NoVerbose" value="1" />
    -->
    <!--
    <add key="ArgumentCount" value="3" />
    <add key="Argument0String" value="-anyInitialize" />
    <add key="Argument1String" value="puts stdout app_settings1" />
    <add key="Argument2List" value="-anyInitialize {puts stdout app_settings2}" />
    -->
  </appSettings>

  <!--
  *****************************************************************************
  -->

  <!--
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v2.0.50727" safemode="false" />
    <requiredRuntime version="v4.0.30319" safemode="false" />

    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v4.0.30319" />

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1,Profile=Client" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.2" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.2,Profile=Client" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3,Profile=Client" />
    <supportedRuntime version="v4.5" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v4.5.1" sku=".NETFramework,Version=v4.5.1" />
    <supportedRuntime version="v4.5.2" sku=".NETFramework,Version=v4.5.2" />
    <supportedRuntime version="v4.6" sku=".NETFramework,Version=v4.6" />
    <supportedRuntime version="v4.6.1" sku=".NETFramework,Version=v4.6.1" />
    <supportedRuntime version="v4.6.2" sku=".NETFramework,Version=v4.6.2" />
    <supportedRuntime version="v4.7" sku=".NETFramework,Version=v4.7" />
    <supportedRuntime version="v4.7.1" sku=".NETFramework,Version=v4.7.1" />
    <supportedRuntime version="v4.7.2" sku=".NETFramework,Version=v4.7.2" />
    <supportedRuntime version="v4.8" sku=".NETFramework,Version=v4.8" />
  </startup>
  -->

  <!--
  *****************************************************************************
  -->

  <runtime>
    <!--
        NOTE: These are known to be useful with Eagle.  Some of these only
              work on the .NET Framework 4.0.
    -->
    <!--
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <generatePublisherEvidence enabled="false" />
    <NetFx40_LegacySecurityPolicy enabled="true" />
    -->

    <!--
        NOTE: Most of these have not been tested with Eagle.  Some of these
              only work on the .NET Framework 2.0 -OR- .NET Framework 4.0.
    -->
    <!--
    <alwaysFlowImpersonationPolicy enabled="false" />
    <AppContextSwitchOverrides value="name1=value1;" />
    <appDomainManagerAssembly value="Eagle, ..." />
    <appDomainManagerType value="Eagle._Components.Public.DomainManager" />
    <appDomainResourceMonitoring enabled="false" />
    <bypassTrustedAppStrongNames enabled="false" />
    <CompatSortNLSVersion enabled="4096" />
    <developmentMode developerInstallation="false" />
    <disableCachingBindingFailure enabled="0" />
    <disableCommitThreadStack enabled="0" />
    <disableFusionUpdatesFromADManager enabled="0" />
    <enforceFIPSPolicy enabled="true" />
    <EnableAmPmParseAdjustment enabled="0" />
    <etwEnable enabled="true" />
    <forcePerformanceCounterUniqueSharedMemoryReads enabled="false" />
    <gcAllowVeryLargeObjects enabled="false" />
    <gcConcurrent enabled="true" />
    <GCCpuGroup enabled="false" />
    <GCHeapAffinitizeMask enabled="dddd" />
    <GCHeapCount enabled="dd" />
    <GCLOHThreshold enabled="dddd" />
    <GCNoAffinitize enabled="false" />
    <gcServer enabled="false" />
    <generatePublisherEvidence enabled="true" />
    <legacyCorruptedStateExceptionsPolicy enabled="false" />
    <legacyImpersonationPolicy enabled="false" />
    <legacyV1CASPolicy enabled="false" />
    <loadFromRemoteSources enabled="false" />
    <NetFx40_LegacySecurityPolicy enabled="false" />
    <NetFx40_PInvokeStackResilience enabled="0" />
    <PreferComInsteadOfManagedRemoting enabled="false" />
    <qualifyAssembly partialName="Eagle" fullName="Eagle, ..." />
    <relativeBindForResources enabled="false" />
    <shadowCopyVerifyByTimestamp enabled="false" />
    <supportPortability PKT="31bf3856ad364e35" enabled="false" />
    <Thread_UseAllCpuGroups enabled="false" />
    <ThrowUnobservedTaskExceptions enabled="false" />
    <TimeSpan_LegacyFormatMode enabled="false" />
    <useLegacyJit enabled="0" />
    <UseRandomizedStringHashAlgorithm enabled="0" />
    <UseSmallInternalThreadStacks enabled="false" />
    -->

    <!--
        NOTE: This could be used to redirect assembly binding for Eagle,
              to avoid needing the exact build number.
    -->
    <!--
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Eagle"
                          publicKeyToken="29c6297630be05eb"
                          culture="neutral" />

        <bindingRedirect oldVersion="1.0.0.0-1.0.65535.65535"
                         newVersion="[info engine PatchLevel]" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Eagle"
                          publicKeyToken="1e22ec67879739a2"
                          culture="neutral" />

        <bindingRedirect oldVersion="1.0.0.0-1.0.65535.65535"
                         newVersion="[info engine PatchLevel]" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Eagle"
                          publicKeyToken="358030063a832bc3"
                          culture="neutral" />

        <bindingRedirect oldVersion="1.0.0.0-1.0.65535.65535"
                         newVersion="[info engine PatchLevel]" />
      </dependentAssembly>
    </assemblyBinding>
    -->
  </runtime>

  <!--
  *****************************************************************************
  -->

  <system.diagnostics>
    <!--
        NOTE: This can be used to enable trace logging to a test file.
    -->
    <!--
    <trace>
      <listeners>
        <add name="eagleLogListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="eagle.log" />
      </listeners>
    </trace>
    -->

    <!--
        NOTE: This can be used to enable tracing of various "System.Net"
              class in the .NET Framework.
    -->
    <!--
    <sources>
      <source name="System.Net" tracemode="includehex" maxdatasize="1024">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Http">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.WebSockets">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Cache" value="Verbose" />
      <add name="System.Net.Http" value="Verbose" />
      <add name="System.Net.Sockets" value="Verbose" />
      <add name="System.Net.WebSockets" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="System.Net"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="eagle.system.net.log" />
    </sharedListeners>
    <trace autoflush="true" />
    -->
  </system.diagnostics>

  <!--
  *****************************************************************************
  -->

  <system.net>
    <!--
        NOTE: This setting is known to speed up the WebClient in the event
              that there is no proxy in use, please see:

              https://stackoverflow.com/questions/4415443
    -->
    <defaultProxy enabled="false" />
  </system.net>
</configuration>
